body {
    padding: 10px 40px;
    background-color: white;
    color: black;
    font-size: 25px;
    transition: .5s;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city{
    width: 100%;
}

.content{
    padding: 0px 90px;
    text-align: center;
}

.darkMode-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    background-color: rgb(214, 214, 214);
    width: 70px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.btn-indicator{
    background-color: rgb(255, 230, 0);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    transition: transform .3s ease;
}

.moon{
    display: none;
}

/*-----dark mode-------*/

body.darkmode{
    background-color: black;
    color: white;
}

.darkmode .btn-indicator{
    transform: translateX(40px);
    background-color: rgb(0, 110, 255);
}

.darkmode h1, .darkmode h2{
    color: rgb(255, 208, 0);
}

.darkmode .moon{
    display: inline;
}

.darkmode .sun{
    display: none;
}

